{% extends 'base.html' %}
{% block content %}

<table class="table table-striped">  
    <thead>
        <tr>
            <th colspan="3">数据加密</th>      
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>HDFS加密服务</td>
            <td>
                <button  class="btn btn-primary btn-sm" >开启</button><span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
                <button  class="btn btn-primary btn-sm" >关闭</button>               
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td>           
        </tr>
        <tr>
            <td>KMS加密服务</td>
            <td>
                <button onclick="operation('kms','start')" class="btn btn-primary btn-sm" >开启</button><span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
                <button onclick="operation('kms','stop')" class="btn btn-primary btn-sm" >关闭</button>               
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td>           
        </tr>              
        <tr>
            <td>创建加密密钥</td>
            <td>
                密钥名称: <input type="text" id='key_name1' placeholder="请输入密钥名称"><span>&ensp;&ensp;&ensp;&ensp;</span>
                密钥长度: <input type="text" id='key_len' placeholder="请输入密钥长度"><span>&ensp;&ensp;&ensp;&ensp;</span>
                <button id='create_key' class="btn btn-primary btn-sm">创建</button>                      
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                    <span  class="icon-question fr"></span>
            </td>           
        </tr>     
        <tr>
            <td>创建加密空间</td>
            <td>
                密钥名称: <input type="text" id='key_name2' placeholder="请输入密钥名称"><span>&ensp;&ensp;&ensp;&ensp;</span>
                路径: <input type="text" id='key_path' placeholder="请输入路径"><span>&ensp;&ensp;&ensp;&ensp;</span>
                <button id='create_zone' class="btn btn-primary btn-sm">创建</button>
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                    <span  class="icon-question fr"></span>
            </td>           
        </tr>
        <tr>
            <td>查看所有已存在密钥</td>
            <td>
                <button id='key_view' class="btn btn-primary btn-sm" >查看</button>              
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td>           
        </tr>
        <tr>
            <td>查看所有已存在的加密空间</td>
            <td>
                <button id='zone_view' class="btn btn-primary btn-sm" >查看</button>              
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td>           
        </tr>        
    </tbody>
</table>

<table class="table table-striped">  
    <thead>
        <tr>
            <th colspan="3">传输加密</th>      
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>数据块传输加密服务</td>
            <td>
                <button onclick="operation('data_block','start')"  class="btn btn-primary btn-sm" >开启</button><span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
                <button onclick="operation('data_block','stop')" class="btn btn-primary btn-sm" >关闭</button>               
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td> 
        </tr>  
        <tr>
            <td>RPC传输加密服务</td>
            <td>
                <button onclick="operation('rpc','start')" class="btn btn-primary btn-sm" >开启</button><span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
                <button onclick="operation('rpc','stop')"  class="btn btn-primary btn-sm" >关闭</button>               
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td> 
        </tr>
        <tr>
            <td>加密算法选择</td>
            <td>
                <select id="algorithm">
                    <option>3DES</option>
                    <option>RC4</option>
                    <option>AES</option>
                </select>
                <button id="algorithm_confirm"  class="btn btn-primary btn-sm" >确定</button>               
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td> 
        </tr> 
        <tr>
            <td>AES比特长度选择</td>
            <td>
                <select id="bitlength">
                    <option>128</option>
                    <option>192</option>
                    <option>256</option>
                </select>
                <button id="bitlength_confirm"  class="btn btn-primary btn-sm" >确定</button>               
            </td>
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="我是提示内容!" >            
                <span  class="icon-question fr"></span>
            </td> 
        </tr>     
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
/*function hdfs_operation(op){
    $.ajax({
        type:'GET',
        url:'/dataencrypt/hdfs/?op='+op,
        dataType:"JSON",
        beforeSend:function(){
            $("#loadgif").show();
        },
        success:function(ret){
            if(ret.status){
                alert(ret.op+"失败: "+ret.output);
            }else{
                alert(ret.op+"成功");
            }
        },
        complete:function(){
            $("#loadgif").hide();
        }
    })
   };*/

   function operation(service,op){
    $.ajax({
        type:'GET',
        url:'/dataencrypt/'+service+'/?op='+op,
        dataType:"JSON",
        beforeSend:function(){
            $("#loadgif").show();
        },
        success:function(ret){
            if(ret.status){
                alert(ret.op+"失败: "+ret.output);
            }else{
                alert(ret.op+"成功");
            }
        },
        complete:function(){
            $("#loadgif").hide();
        }
    })
   };

   function get_wrapper(url){
    $.ajax({
        type:'GET',
        url:url,
        dataType:"JSON",
        beforeSend:function(){
            $("#loadgif").show();
        },
        success:function(ret){
            if(ret.status){
                alert("操作失败: "+ret.output);
            }else{
                if(ret.output){
                   alert(ret.output); 
                }else{
                    alert("操作成功");
                }
            }
        },
        complete:function(){
            $("#loadgif").hide();
        }
    })
   };

   $('#create_key').click(function(){
       var key_name=$('#key_name1').val();
       var key_len=$('#key_len').val();
       var url='/dataencrypt/create_key/?key_name='+key_name+'&key_len='+key_len;
       get_wrapper(url);
   });

   $('#create_zone').click(function(){
       var key_name=$('#key_name2').val();
       var key_path=$('#key_path').val();
       var url='/dataencrypt/create_zone/?key_name='+key_name+'&key_path='+key_path;
       get_wrapper(url);
   });

   $('#key_view').click(function(){
       var url='/dataencrypt/key_view/';
       get_wrapper(url);
   })

   $('#zone_view').click(function(){
       var url='/dataencrypt/zone_view/';
       get_wrapper(url);
   })

   $("#algorithm_confirm").click(function(){
       var algorithm=$("#algorithm").val();
        $.ajax({
            type:'GET',
            url:'/dataencrypt/algorithm/?algorithm='+algorithm,
            dataType:"JSON",
            beforeSend:function(){
                $("#loadgif").show();
            },
            success:function(ret){
                if(ret.status){
                    alert("操作失败: "+ret.output);
                }else{
                    alert("加密算法修改成功");
                }
            },
            complete:function(){
                $("#loadgif").hide();
            }
        })
   });

   $("#bitlength_confirm").click(function(){
       var bitlength=$("#bitleng").val();
        $.ajax({
            type:'GET',
            url:'/dataencrypt/bitlength/?bitlength='+bitlength,
            dataType:"JSON",
            beforeSend:function(){
                $("#loadgif").show();
            },
            success:function(ret){
                if(ret.status){
                    alert("操作失败: "+ret.output);
                }else{
                    alert("比特长度修改成功");
                }
            },
            complete:function(){
                $("#loadgif").hide();
            }
        })
   });

</script>


{% endblock %}