{% extends 'base.html' %}
{% block content %}

<table class="table table-striped">  
		<thead>
			<tr>
				<th></th> 
				<th></th>  
				<th></th>         
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>用户认证</td>
				<td>
					<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#passwordkinit">密码认证</button>
					<span>&emsp;&emsp;</span>
					<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#keytabkinit">keytab认证</button>
					<span>&emsp;</span></td>
				<td><a href="#" data-toggle="tooltip" data-placement="right" title="我是提示内容!" >            
					<span  class="icon-question fr"></span>
				</td>           
			</tr>
			<tr>
				<td></td>
				<td>
					<button id="list_users" class="btn btn-primary btn-sm" >查看认证用户</button><span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
					<button id="del_cache" class="btn btn-primary btn-sm" >删除认证缓存</button>               
				</td>
				<td><a href="#" data-toggle="tooltip" data-placement="right" title="我是提示内容!" >            
					<span  class="icon-question fr"></span>
				</td>           
			</tr>
			<tr>
				<td>Kerberos认证</td>
				<td>
					<button onclick="kerberos_verify('start')" class="btn btn-primary btn-sm" >开启</button><span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
					<button onclick="kerberos_verify('stop')" class="btn btn-primary btn-sm" >关闭</button>               
				</td>
				<td><a href="#" data-toggle="tooltip" data-placement="right" title="我是提示内容!" >            
					<span  class="icon-question fr"></span>
				</td>           
			</tr>
			<tr>
				<td>KDC</td>
				<td>
					<button onclick="kdc_operation('start')" class="btn btn-primary btn-sm" >启动</button>
					<button onclick="kdc_operation('restart')" class="btn btn-primary btn-sm" >重启</button>
					<button onclick="kdc_operation('stop')" class="btn btn-primary btn-sm" >停止</button>	
					<button onclick="kdc_operation('status')" class="btn btn-primary btn-sm" >查询当前状态</button>           
				</td>
				<td><a href="#" data-toggle="tooltip" data-placement="right" title="我是提示内容!" >            
					<span  class="icon-question fr"></span>
				</td>           
			</tr>
			<tr>
				<td>客户端</td>
				<td>
					<button onclick="client_operation('start')"  class="btn btn-primary btn-sm" >启动</button>
					<button onclick="client_operation('restart')" class="btn btn-primary btn-sm" >重启</button>
					<button onclick="client_operation('stop')" class="btn btn-primary btn-sm" >停止</button>	
					<button onclick="client_operation('status')" class="btn btn-primary btn-sm" >查询当前状态</button>            
				</td>
				<td><a href="#" data-toggle="tooltip" data-placement="right" title="我是提示内容!" >            
					<span  class="icon-question fr"></span>
				</td>           
			</tr>
			<tr>
				<td>生成keytab文件</td>
				<td>
					<input id="keytab" type="text" placeholder="keytab文件目录">
					<input id="username" type="text" placeholder="用户名">
					<button onclick="gen_keytab()" class="btn btn-primary btn-sm" >确定</button>            
				</td>
				<td><a href="#" data-toggle="tooltip" data-placement="right" title="我是提示内容!" >            
					<span  class="icon-question fr"></span>
				</td>           
			</tr>
			<tr>
				<td>查看keytab文件</td>
				<td>
					<input id="keytabfile" type="text" placeholder="keytab文件路径">
					<button onclick="get_keytabfile()" class="btn btn-primary btn-sm" >确定</button>            
				</td>
				<td><a href="#" data-toggle="tooltip" data-placement="right" title="我是提示内容!" >            
					<span  class="icon-question fr"></span>
				</td>           
			</tr>
		</tbody>
	</table>

<!-- 模态框（Modal） 用户认证 密码认证-->
<div class="modal fade" id="passwordkinit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					用户认证
				</h4>
			</div>
			<div class="modal-body">
				<form action="">
					用户名：<input type="text" id="user" placeholder="请输入用户名"><br><br>             
					密码：  <input type="password" id="pwd" placeholder="请输入密码">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button id="pwd_verify" type="button" class="btn btn-primary">
					认证
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
	

<!-- 模态框（Modal）用户认证 keytab认证 -->
<div class="modal fade" id="keytabkinit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					用户认证
				</h4>
			</div>
			<div class="modal-body">
				<form action="">					   
					keytab文件: <input type="file" id="keytab_ile">					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button id="keytab_verify" type="button" class="btn btn-primary">
					认证
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>
	$("#pwd_verify").click(function(){
		un=$('#user').val();
		pwd=$('#pwd').val();
		$.ajax({
			type:'GET',
			url:'/kerberos/pwdverify/?un='+un+'&pwd='+pwd,
			dataType:'JSON',
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret.status){
					alert("认证失败: "+ret.output);
				}else{
					alert("认证成功");
				}
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	});

	$("#list_users").click(function(){
		$.ajax({
			type:'GET',
			url:'/kerberos/listusers/',
			dataType:'JSON',
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret.status){
					alert("操作失败: "+ret.output);
				}else{
					alert(ret.output);
				}
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	});

	$("#del_cache").click(function(){
		$.ajax({
			type:'GET',
			url:'/kerberos/delcache/',
			dataType:'JSON',
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret){
					alert("操作失败");
				}else{
					alert("清除缓存成功");
				}
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	});

	function kerberos_verify(op){
		$.ajax({
			type:'GET',
			url:'/kerberos/verify/?op='+op,
			dataType:"JSON",
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret.status){
					alert(ret.op+"失败: "+ret.output);
				}else{
					alert(ret.op+"成功");
				}
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	};

	function kdc_operation(op){
		$.ajax({
			type:'GET',
			url:'/kerberos/kdc/?op='+op,
			dataType:"JSON",
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret.op=='status'){
					alert(ret.output)
				}
				else{
					if(ret.status){
						alert(ret.op+"失败: "+ret.output);
					}else{
						alert(ret.op+"成功");
					}
				}
				
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	};

	function client_operation(op){
		$.ajax({
			type:'GET',
			url:'/kerberos/client/?op='+op,
			dataType:"JSON",
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret.op=='status'){
					alert(ret.output)
				}
				else{
					if(ret.status){
						alert(ret.op+"失败: "+ret.output);
					}else{
						alert(ret.op+"成功");
					}
				}
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	};

	function gen_keytab(){
		var keytab=$("#keytab").val();
		var username=$("#username").val();
		$.ajax({
			type:'GET',
			url:'/kerberos/gen_keytab/?keytab='+keytab+'&username='+username,
			dataType:"JSON",
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret.status){
					alert("操作失败: "+ret.output);
				}else{
					alert("keytab文件生成成功");
				}
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	};

	function get_keytabfile(){
		var keytabfile=$("#keytabfile").val();
		$.ajax({
			type:'GET',
			url:'/kerberos/get_keytabfile/?keytabfile='+keytabfile,
			dataType:"JSON",
			beforeSend:function(){
				$("#loadgif").show();
			},
			success:function(ret){
				if(ret.status){
					alert("操作失败: "+ret.output);
				}else{
					alert(ret.output);
				}
			},
			complete:function(){
				$("#loadgif").hide();
			}
		})
	};
</script>


{% endblock %}
